:root {
    --black: #222222;
    --dark-pink: #F16D7F;
    --light-pink: #F8F3F4;
    --light-black: #222224;
    --pink-button: #F26376;
    --pink: #F1E4E6;
    --white: #FBFBFB;
    
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

body {
    color: #9F9F9F;
    line-height: 17px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.container {
    margin: 0 auto;
    width: 1140px;

}

.header {
    align-items: center;
    background-color: var(--black);
    display: flex;
    min-height: 75px;
}

.header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__menu {
    background: #FFFFFF;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 232px;
}

.close_menu {
    align-self: flex-end;
    background-color: transparent;
    background-image: url(..//img/close_menu.svg);
    border: none;
    height: 12px;
    width: 12px;
}

.menu__wrap {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 33px 33px;
}

#burger:active +.header__menu {
    display: block;
}

#burger:hover +.header__menu,
#burger:focus +.header__menu {
    display: block;
}

.header__title {
    color: #000000;
    font-weight: bold;
    margin: 0 0 22px 0;
    text-transform: uppercase;
}

.menu-sub-item__title {
    color: var(--dark-pink);
    text-transform: uppercase;
}

.menu-sub-item__item {
    color: #6F6E6E;
    text-transform: capitalize;
}

.header__box {
    display: flex;
    position: relative;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__ico {
    margin: 0 0 0 33px;
}

.header__button {
    background-color: transparent;
    border: none;
}

.hero {
    align-items: center;
    display: flex;
    background-color: var(--pink);
}

.hero__title {
    color: #222222;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    position: relative;
}

.hero__title::before {
    background-color: var(--dark-pink);
    content: "";
    display: block;
    height: 92px;
    left: -24px;
    position: absolute;
    top: 6px;
    width: 12px;
}

.hero__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.hero__pink {
    color: var(--dark-pink);
}

.sale {
    padding: 65px 0 96px 0;
}

.sale__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sale__item {
    align-items: center;
    display: flex;
    height: 260px;
    justify-content: center;
    width: 360px;
}

.sale__item:hover,
.sale__item:active {
    opacity: 0.5;
}

.women {
    background-image: url(../img/for_women.jpg);
}

.men {
    background-image: url(../img/for_men.jpg);
}

.kids {
    background-image: url(../img/for_kids.jpg);
}

.accesories {
    background-image: url(../img/accesories.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.sale__link {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.sale__link:hover,
.sale__link:active {
    border:solid 1px #FFFFFF;
    padding: 10px 25px 10px 25px;
}

.sale__text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
}

.sale__subtitle {
    color: var(--dark-pink);
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.product {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 0 96px 0;
}

.product__title {
    color: #222222;
    font-size: 30px;
    line-height: 36px;
    text-transform: capitalize;
    text-align: center;
}

.product__subtitle {
    margin: 6px 0 48px 0;
    text-align: center;
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__item {
    background-color: #F8F8F8;
    height: 582px;
    list-style-type: none;
    margin: 0 0 30px 0;
    width: 360px;
}

.card {
    text-decoration: none;
}

.card__img-wrp {
    position: relative;
}

.card__img-wrp::before {
    background: rgba(58, 56, 56, 0.86);
    content: "";display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.card:hover .card__button,
.card:hover .card__button,
.card:hover .card__img-wrp::before {
    display: block;
} 

.card__button {
    background-color: transparent;
    border:solid 1px #FFFFFF;
    color: #FFFFFF;
    display: none;
    left: 50%;
    position: absolute;
    padding: 13px 13px 13px 45px;
    top: 50%;  
    transform: translate(-50%, -50%);
}

.card__button:hover,
.card__button:active {
    background-color: #757575;
}

.card__button::before {
    background-image: url(../img/card_button.svg);
    content: "";
    display: block;
    height: 24px;
    left: 6px;
    top: 8px;
    position: absolute;
    width: 26px;
}

.card__title {
    color: #000000;
    margin: 25px 0 13px 18px;
    text-transform: uppercase;
}

.card__text {
    color: #5D5D5D;
    margin: 0 29px 20px 17px;
}

.card__price {
    color: var(--dark-pink);
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 0 17px;
}

.product__button {
    background-color: transparent;
    border-color: var(--pink-button);
    color: var(--pink-button);
    display: block;
    height: 48px;
    text-transform: capitalize;
    width: 212px;
}

.product__button:hover,
.product__button:focus {
    background-color: #F16D7F;
    border-color: #FF6A6A;
    color: #fff;
}

.services {
    background-color: var(--light-black);
}

.services__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 103px 0 103px 0;
}

.services__item {
    align-items: center;
    color: #FBFBFB;
    display: flex;
    flex-direction: column;
    width: 360px;
}

.services__title {
    font-size: 20px;
    line-height: 24px;
    margin: 28px 0 16px 0;
}

.services__text {
    padding: 0 30px 0 30px;
    text-align: center;
}

.feedback {
    background-image: url(../img/fon-contacts.jpg);
    background-repeat: no-repeat;
    color: var(--light-black);
    min-height: 448px;
}

.feedback__wrap {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    min-height: 448px;
}

.feedback__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 360px;
}

.feedback__quote-text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.feedback__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-transform: uppercase;
}

.feedback__text {
    font-size: 18px;
    line-height: 167.2%;
    text-transform: uppercase;
}

.page-footer {
    background-color: var(--light-black);
}

.page-footer__wrp {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    min-height: 79px;
}

.page-footer__copy {
    color: var(--white);
}

.social__ico:hover,
.social__ico:active {
    opacity: 0.5;
}

.page__header {
    align-items: center;
    background-color: var(--light-pink);
    display: flex;
    height: 148px;
}

.page__title {
    color: var(--dark-pink);
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
}

.registration__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0 0 0;
}

.form__item {
    display: block;
    margin: 0 0 20px 0;
}

.form__block {
    margin: 0 0 20px 0;
}

.form__item-legend {
    color: var(--black);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.form__label {
    color: #000000;
    font-size: 11px;
    line-height: 13px;
    margin: 0 0 0 0;
    position: relative;
}

.form__button {
    background-color: var(--dark-pink);
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    height: 50px;
    line-height: 17px;
    padding: 0 15px 0 0;width: 167px;
    text-transform: uppercase;
}

.form__button::after {
    background-image: url(../img/arrow_button.svg);
    content: "";
    height: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 17px;
}

.registration__form {
    max-width: 360px;
}

.registration__info {
    color: #000000;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    max-width: 652px;
}

.registration__info-title {
    text-transform: uppercase;
}

.registration__info-text {
    margin: 20px 0 20px 0;
}

.registration__info-list {
    list-style-type: none;
}

.list__item {
    margin: 0 0 15px 40px;
    position: relative;
}

.list__item::before {
    background-image: url(../img/mark_reg.svg);
    content: "";
    height: 16px;
    left: -34px;
    position: absolute;
    top: 7px;
    width: 20px;
}